// Specific CSS for your home-page

.home-title {
  color: $blue-green;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
}

.home-search-bar {
  display: flex;
  justify-content: center;
}

.link-home-page {
  color: $blue-green;
  font-size: 24px;
  &:hover {
    text-decoration: none;
    color: $blue-green-dark
  }
}