<footer class="page-footer pt-8">

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12 pb-2 pt-2">
        <div class="mt-2 mb-2 flex-center text-center">
          <!-- Facebook -->
          <a href="https://pt-br.facebook.com/lewagon/" target="_blank" class="social-icon">
            <i class="fab fa-facebook-f"> </i>
          </a>
          <!--Linkedin -->
          <a href="https://www.linkedin.com/school/le-wagon/?originalSubdomain=br" target="_blank" class="social-icon">
            <i class="fab fa-linkedin-in"> </i>
          </a>
          <!--Instagram-->
          <a href="https://www.instagram.com/lewagonbrasil/?hl=pt-br" target="_blank" class="social-icon">
            <i class="fab fa-instagram"> </i>
          </a>
          <!--Twitter-->
          <a href="https://twitter.com/lewagonbrasil" target="_blank" class="social-icon">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="contact-email text-center py-2">contact@search4class.com</div>
    <div class="footer-copyright text-center py-2 mb-4">© 2020 Copyright:
      <a href="https://www.lewagon.com/pt-BR">#Batch354#TheBest</a>
    </div>
  </div>

</footer>
