.alert {
  text-align: center;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba(255, 187, 187, 0.473);
  font-weight: bold;
}

.notice {
  text-align: center;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba(184, 255, 190, 0.473);
  font-weight: bold;
}

.alert-already-booked {
  background-color: rgba(255, 187, 187, 0.473);
  box-shadow: 2px 2px rgba(255, 0, 0, 0.473);
  color: red;
  font-style: italic;
  padding: 10px;
  border-radius: 8px;
}
