.alert {
  text-align: center;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba(255, 187, 187, 0.473);
  font-weight: bold;
}

.notice {
  text-align: center;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
  background-color: rgba(184, 255, 190, 0.473);
  font-weight: bold;
}

.alert-already-booked {
  border: red 1px solid;
  color: red;
  font-style: italic;
  padding: 10px;
  border-radius: 8px;
}
