.alert {
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 1000;
}

.alert-already-booked {
  border: red 1px solid;
  color: red;
  font-style: italic;
  padding: 10px;
  border-radius: 8px;
}
