$box-shadow-btn: 0 1.5px #999;

.btn-blue-green {
  border: none;
  padding: 4px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: $blue-green;
  color: black;
  border-radius: 8px;
  &:hover {
    background-color: $blue-green-light;
    text-decoration: none;
    color: $dark-gray;
    font-weight: normal;
  }
}

.btn-outline {
  border: 1px $blue-green solid ;
  padding: 4px 16px;
  background-color: none;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 10px;
  color: $blue-green;
  &:hover {
    color: $blue-green-dark;
    border-color: $blue-green-dark;
    text-decoration: none;
  }
}

.btn-create-new-course {
  border: none;
  padding: 10px 22px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  background-color: $blue-green;
  color: black;
  border-radius: 8px;
  &:hover {
    background-color: $blue-green-light;
    text-decoration: none;
    color: $dark-gray;
    font-weight: normal;
  }
}

.btn-edit-course {
  border: none;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  background-color: $blue-green;
  color: black;
  border-radius: 8px;
  &:hover {
    text-decoration: none;
    background-color: $blue-green-light;
    font-weight: normal;
    color: black;
  }
}

.btn-font-awesome {
  color: $blue-green;
  &:hover {
    color: $blue-green-light;
  }
}

.btn-navbar {
  border: none;
  padding: 4px 8px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  background-color: $blue-green;
  color: black;
  border-radius: 10px;
  &:hover {
    background-color: $blue-green-light;
    text-decoration: none;
    color: black;
    box-shadow: $box-shadow-btn;
  }
}

.btn-sign-outline {
  border: 1px $blue-green solid ;
  padding: 4px 8px;
  background-color: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;;
  color: black;
  border-radius: 10px;
  &:hover {
    border-color: $blue-green-light;
    text-decoration: none;
    color: black;
    box-shadow: $box-shadow-btn;
  }
}

.btn-sign-outline-white {
  border: 1px $blue-green solid ;
  padding: 4px 8px;
  background-color: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;;
  color: white;
  border-radius: 10px;
  &:hover {
    border-color: $blue-green-light;
    text-decoration: none;
    color:white;
    box-shadow: $box-shadow-btn;
  }
}

.btn-outline-black {
  border: 1px $blue-green solid ;
  padding: 4px 8px;
  background-color: none;
  text-align: center;
  display: inline-block;
  font-size: 12px;;
  color: $gray;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  &:hover {
    border-color: $blue-green-dark;
    text-decoration: none;
    color: black;
  }
}

.btn-book-class {
  text-decoration: none;
  border: none;
  padding: 10px 20px;
  text-align: center;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  background-color: $blue-green;
  color: black;
  border-radius: 8px;
  &:hover {
    background-color: $blue-green-light;
    text-decoration: none;
    color: $gray;
  }
}

.disabled {
  opacity: 0.5;
  &:hover {
  border: none;
  padding: 4px 16px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  background-color: $blue-green;
  color: black;
  border-radius: 8px;
  opacity: 0.5;
  }
}
