$box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
$box-shadow-hover: rgba(0, 0, 0, 0.4) 0px 2px 8px 0px;

.without-text-decoration{
  color: black;
  &:hover {
  text-decoration: none;
  color: black;
  }
}

.card-category {
  color: black;
  text-align: center;
  display: block;
  text-align: left;
  box-shadow:$box-shadow;
  border-radius: 16px;
  border-radius: 8px;
  &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.card-category-photo {
  height: 274px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-position: center;
  background-size: cover;
}

.card-category-name {
  text-align: left;
  padding: 5px;
  padding-left: 20px;
  font-style: normal;
  font-size: 24px;
}

.card-results-courses {
  color: black;
  display: flex;
  padding: 20px;
  box-shadow: $box-shadow;
  &:hover {
    text-decoration: none !important;
    box-shadow: $box-shadow-hover;
  }
}

.card-results-courses-online {
  color: black;
  background-color: $light-green;
  display: flex;
  height: 250px;
  padding: 20px;
  box-shadow: $box-shadow;
  &:hover {
    text-decoration: none !important;
    box-shadow: $box-shadow-hover;
  }
}

.result-prof-name {
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.card-results-information {
  margin-left: 30px;
  flex-grow: 3;
}

.result-course-name {
  font-size: 40px;
}

.result-course {
  font-size: 20px;
}

.result-course-description {
  font-size: 18px;
  border : solid 1px gray;
  border-radius: 4px;
  font-style: italic;
  color: gray;
  padding: 10px;
}

.card-results-date-category {
  flex-grow: 1;
  text-align: right;
  font-size: 18px;
}

.course-show-title {
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  position: absolute;
}

.card-show-description {
  font-size: 14px;
  border : solid 1px $medium-gray;
  border-radius: 8px;
  font-style: italic;
  color: $gray;
  background-color: white;
  padding: 10px;
}

.course-show-card {
  background-size: cover;
  background-position: center;
  padding: 16px;
  border-radius: 8px;

}

.course-show-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-showcard-user-name {
font-weight: bold;
font-size: 20px;
}

.description-showcard {
font-weight: bold;
font-size: 24px;
}

.card-course-user-show {
  display: flex;
  width: 30%;
  flex-direction: column;
  border-radius: 4px;
  border: $medium-gray 1px solid;
  padding: 20px;
  background-color: white;
   &:hover {
    box-shadow: $box-shadow-hover;
  }
}

.card-align-bottom {
  margin-top: auto;
}

.card-cart {
  background-color: white;
  padding: 5px;
  box-shadow: 1px 1px $cream;
  border-radius: 10px;
  h5 {
    font-weight: bold;
  }
}

.cart-title {
  font-weight: bold;
  border-bottom: solid 0.5px rgb(112, 60, 60);
  margin-bottom: 10px;
}

.card-user-name {
  font-size: 20px;
  font-weight: bold;
}

.card-cart-total {
  margin-top: auto;
}

.card-show-course {
  padding: 16px;
  border-radius: 8px;
  background-color: rgba(250,250,250,0.5);
  box-shadow: 2px 2px rgba(88,180,174,0.5);
}

.courses-list {
  justify-content: center;
  padding: 5px 20px 5px 20px;
  width: 60%;
  display: inline-block;
}
