.page-container {
  max-width: 1000px;
  margin: 50px auto;
}

.user-info {
  display: flex;
  align-items: center;
  margin: auto;
  width: 600px;
  height: 200;
  padding: 5px;
  background-color: $cream;
  border-radius: 10px;
  h5 {
    font-weight: bold;
  }
}

// .container-course-show {
//   justify-content: flex-end;
// }

.hidden {
  display: none;
}
