.category-icon {
  padding: 10px;
  border: 1px solid $blue-green;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 50px;
  color: $blue-green;
  height: 70px;
  width: 70px;
}